$yellow: #F5CD23;
$black: #000000;
$darkGray: #4A4A4A;
$white: #FFFFFF;

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  a {
    text-decoration: none;
  }
  h1, h2, h3 {
    text-transform: uppercase;
    color: $white;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: $black;
    font-family: 'Lora', serif;
  }
  .main {
    position: relative;
    background-image: url("./src/background-image.jpg");
    background-size: 175vw;
    background-position: center -50vw;
    height: 100%;
  }
}

.content {
  padding: 64px 0;
  max-width: 600px;
  margin: 0 auto;
  .intro-text p {
    display: inline-block;
    width: 49%;
  }
}


#logo {
  background: $black;
  position: absolute;
  padding: 16px;
  top: 0;
  left: 0;
  img {
    width: 48px;
  }
}

.divider {
  width: 86px;
  height: 3px;
  background-color: $black;
}

#contact {
  background-color: $black;
  position: absolute;
  bottom: 0;
}
