$yellow: #F5CD23;
$black: #000000;
$darkGray: #4A4A4A;
$white: #FFFFFF;

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  a, button {
    text-decoration: none;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  h1, h2, h3 {
    text-transform: uppercase;
    color: $white;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: $darkGray;
    font-family: 'Lora', serif;
    line-height: 160%;
    margin: 0;
  }
  .main {
    position: relative;
    background-color: #ECC87A;
    // background-image: url("./src/background-image.jpg");
    // background-size: 175vw;
    // background-position: center -50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
  }
}

.content {
  max-width: 800px;
  #title {
    margin-left: 50%;
    h1 {
      font-weight: 900;
      line-height: 90%;
      font-size: 3em;
      padding-left: 8px;
      margin-top: 0;
    }
  }
  .intro-text {
    columns: auto 2;
  }
  .project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      margin: 0 0 4px 0;
    }
    p {
      margin-bottom: 24px;
    }
  }
}


#logo {
  background: $black;
  position: absolute;
  top: 0;
  left: 40px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  img {
    width: 48px;
  }
}

.divider {
  width: 86px;
  height: 3px;
  background-color: $darkGray;
  margin: 36px auto;
}

.button {
  border: 2px solid $darkGray;
  border-radius: 4px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  position: relative;
  a {
    color: $darkGray;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1;
  }
  img {
    padding-right: 8px;
  }
  .buttonBackground {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    height: 0%;
    background-color: $darkGray;
    opacity: 0.25;
    transition: height 0.3s ease;
    mix-blend-mode: multiply;
  }
  &:hover .buttonBackground {
    height: 100%;
  }
}

#contact {
  background-color: $black;
  position: absolute;
  bottom: 0;
  width: 192px;
  height: 60px;
  overflow: hidden;
  a {
      color: $yellow;
    }
  h3, button {
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $yellow;
    transition: transform 0.3s ease;
  }
  &:hover {
    h3, button {
      transform: translateY(-100%);
    }
  }
}
